body {
    margin: 30px auto;
    background-color: #8483cc;
}

#app {
    padding: 60px;
    margin: 0 auto;
}

.search-input {
    outline: none;
    border-style: none;
    border-radius: 13px;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.4);
    height: 80px;
    width: 50vh;
    display: block;
    margin: 0 auto;
    font-size: 48px;
    padding-left: 40px;
}


.search-line {
    align-items: center;
}



.repo-list {
    height: 0px;
    margin: 0 auto;
    padding: 0 10px 10px;
    width: 50vh;
}

.list-visible {
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 21px;
    transform: translateY(-11px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: inset 0px 10px 1px 3px rgba(255, 255, 255, 0.555);
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.4);
}



.repo-info {
    display: none;
    margin: 10px 0;
    color: rgb(250, 243, 229);
    letter-spacing: 2.5px;
    font-size: 24px;
}

.repo-name {
    margin: 10px 0;
    color: rgb(250, 243, 229);
    letter-spacing: 2.5px;
    font-size: 24px;
}

.repo {
    margin-bottom: 7px;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    max-width: 50vh;
    background-color: rgba(78, 47, 66, 0.5);
    padding-left: 30px;
    border: 1px solid black;    
    position: relative;
}

.remove-button {
    cursor: pointer;
    border: none;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 30px;
    top: 45px;
    display: block;
    --weight: 2px;
    --aa: 1px; 
    --color: black;
    border-radius: 3px;
    background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}

.remove-button:hover {
    transition: all ease-in-out 0.2s;
    transform: scale(1.2);
}

.repo:hover {
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.507);
}

.added-repo {
    background-color: aliceblue;
    border-radius: 13px;
    padding: 0;
    width: 50vh;
    margin: 40px auto 0;
}

.added-repo__title {
    color: rgb(46, 46, 46);
    padding: 0;
    margin: 40px 0 0;
    text-align: center;
}